<app-navbar></app-navbar>

    <router-outlet></router-outlet>


<!-- The core Firebase JS SDK is always required and must be listed first >
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script-->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries >
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDP-2Q7_7u1iFnHiqtiVJNSgNHJDpWg5xs",
    authDomain: "getbus-955ce.firebaseapp.com",
    databaseURL: "https://getbus-955ce.firebaseio.com",
    projectId: "getbus-955ce",
    storageBucket: "getbus-955ce.appspot.com",
    messagingSenderId: "114690588045",
    appId: "1:114690588045:web:493cf1e7fbb9976db091c4",
    measurementId: "G-M8NK97JC56"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script-->